/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  color-scheme: light;
  --nav-color: #05051a;

  --background-color: #ffeef4;
  --main-text-color: #19171a;
  --accent-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --corner-color: #353430;

  --lead-bg-color: #ff8dcb;
  --lead-text-color: #353430;

  --card-title-color: #353430;
  --card-text-color: #353430;

  --page-background: url("../images/cover-image-light.png");
  --page-bg-color: #fff1f7;

  --main-bg: var(--main-bg-light);
}
