/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-attachment: fixed;
  background-color: var(--page-bg-color);

  background-image: var(--page-background);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  z-index: -1;
}

/* Декоративные уголки */

.decorated-zone {
  position: relative;
}

.decor-corner {
  position: absolute;
  width: 40px;
  height: 40px;
}

.header__corner_top-right::before {
  content: "";
  position: absolute;
  inset: 0;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}

.header__corner_bottom-left::before {
  content: "";
  position: absolute;
  inset: 0;
  border-bottom: 1px solid var(--corner-color);
  border-left: 1px solid var(--corner-color);
}

.header__corner_top-right {
  top: 20px;
  right: 20px;
  height: 25px;
  width: 25px;
}

.header__corner_bottom-left {
  left: 20px;
  bottom: 20px;
  height: 25px;
  width: 25px;
}

/* Шапка */

.header {
  position: relative;

  height: 100vh;
  min-height: 668px;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.theme-auto {
  color-scheme: light dark;
}

.page__section {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: var(--page-padding-y) var(--page-padding-x);
}

.header__inner {
  display: contents;
}

.header__top-row {
  grid-row: 1;
}

.header__theme-menu-list {
  display: flex;
  gap: 8px;
}

/* меню */

.header__top-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
}

.header__theme-menu {
  grid-column: 1;
  justify-self: center;
  padding-top: 20px;

}

.header__theme-menu-button {
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 5px;
  text-transform: lowercase;
  border: 1px solid transparent;
  color: var(--nav-color);
  background: transparent;
  transition: border-color 0.2s ease, background-color 0.2s ease,
    color 0.2s ease;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  font-weight: 400;
}

.header__theme-menu-button_active {
  border-color: var(--nav-color);
}

@media (hover: hover) {
  .header__theme-menu-button:hover:not(:disabled):not(
      .header__theme-menu-button_active
    ) {
    border-color: color-mix(in srgb, var(--nav-color) 40%, transparent);
  }
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 0 var(--nav-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .header__theme-menu {
    position: static;

    justify-self: end;
    align-self: start;

    margin-top: 165px;
    margin-right: 20px;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
  }
  .header__theme-menu-button {
    width: auto;
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 375px) {
  .header__theme-menu {
    margin-top: 55px;
    margin-right: 10px;
  }
  .header__theme-menu-list {
    gap: 10px;
  }
}

/* REC */

.header__rec {
  position: absolute;
  top: 22px;
  right: 30px;

  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0;
  color: var(--shadow-color);
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: currentColor;

  box-shadow: 0 0 6px currentColor, 0 0 14px currentColor;
}

.theme-light .header__rec {
  display: none;
}


/* Заголовок */

.header__title {
  grid-row: 2;
  align-self: center;
  max-width: 10ch;
  text-transform: lowercase;
  color: var(--accent-color);
  font-weight: 700;
  line-height: 83%;
  letter-spacing: 0;
  text-shadow: 4px 4px 0 var(--shadow-color);

  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  padding-top: 165px;
}

@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Лид и декор заголовков */

.title-decor {
  display: inline-block;
  background-color: var(--lead-bg-color);
  color: var(--lead-text-color);
  border-radius: var(--border-radius-small);
}

.header__lead {
  grid-row: 3;
  align-self: end;
  justify-self: end;
  max-width: 491px;

  margin-right: 20px;
  margin-bottom: 135px;

  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.content {
  padding-top: 33px;
  padding-bottom: 32px;
}

.layout {
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 1024px) {
  .layout {
    width: 1024px;
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  .header__title {
    padding-top: 5px;
  }
  .header__lead {
      max-width: 365px;
      margin-bottom: 185px;
  }
  .header__rec {
    font-size: 16px;
  }
  .header__rec::after {
    width: 10px;
    height: 10px;
    margin-left: 8px;
  }
}

@media (max-height: 888px) and (max-width: 768px) {
  .header__lead {
    max-width: 491px;  /* как у тебя в основной версии */
    margin-bottom: 125px;
  }
}

@media (max-width: 375px) {
  .header__lead {
    max-width: 355px;
    margin-right: 10px;
    margin-bottom: 65px;
  }
  .header__rec {
    top: 12px;
    right: 20px;
  }
  .header__title {
    padding-top: 15px;
    padding-left: 10px;
  }

  .header__corner_top-right {
    top: 10px;
    right: 10px;
  }

  .header__corner_bottom-left {
    left: 10px;
    bottom: 10px;
  }

}

/* Основные секции */

.main {
  padding-inline: var(--page-padding-x);
}

.section {
  padding: 26px 18px;
}

.section__layout {
  display: grid;
  gap: 12px;
  margin-bottom: 12px;
}

.section__layout-content,
.section__layout.section__layout_type_sidecards {
  display: grid;
  gap: 12px;
}

.section__layout-content {
  grid-template-columns: 1fr 2fr;
  align-items: start;
}

.section__layout.section__layout_type_sidecards {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: start;
}

@media (max-width: 768px) {
  .section__layout.section__layout_type_sidecards {
    grid-template-columns: 1fr;
    gap: 4px;
  }
  .section__title {
    width: 90%;
  }
  .section__layout {
    gap: 14px;
    margin-bottom: 6px;
  }
  .section {
    padding: 28px 20px;
  }
  .section-card__text {
    width: 98%;
  }
}

.section__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* карточки */

.section-card {
  margin-bottom: 16px;
}

.section-card__title {
  width: 100%;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-title-color);
}

.section__title {
  font-weight: 700;
  font-size: 18px;
  color: var(--nav-color);
  padding-bottom: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.section-card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-text-color);
}

.title--regular {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.section__link {
  position: relative;
  display: inline-block;
  text-shadow: 3px 2px 0 var(--shadow-color);
  text-decoration: none;
}

@media (hover: hover) {
  .section__link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 1px;
    background: var(--card-text-color);
  }
}
.section__link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px var(--card-text-color);
}
.section__link:focus {
  outline: none;
}



@media (max-width: 375px) {
  .section__layout-content {
    grid-template-columns: 1fr;
    align-items: start;
  }

  .section__block_main {
    min-height: 100%;
  }
}

/* галерея */

.gallery {
  margin-top: 6px;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item_sunset {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.gallery__item_ice-cream {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.gallery__item_tape {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.gallery__item_books {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.gallery__item_street {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}
@media (min-width: 1024px) {
  .gallery__grid {
    grid-auto-rows: 338px;
  }
  .mb {
    margin-bottom: 25px;
  }
}

@media (max-width: 375px) {
  .gallery__grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .gallery__item {
    width: 100%;
    height: auto;
    grid-column: auto;
    grid-row: auto;
  }
}

/* подвал */

.footer {
  min-height: 768px;
  display: grid;
  align-items: center;
}

.footer__title {
  text-transform: lowercase;
  color: var(--accent-color);
  text-align: center;
  text-shadow: 4px 4px 0 var(--shadow-color);

  font-weight: 700;
  font-size: clamp(10rem, 2rem + 8vw, 9rem);
  line-height: 83%;
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  .footer__title {
    font-size: 7.5rem;
  }
  .footer {
    height: 100vh;
  }
  .mb {
    margin-bottom: 20px;
  }
  .content {
    padding-bottom: 38px;
  }
}


@media (max-width: 375px) {
  .section {
    padding: 6px 10px;
    padding-bottom: 22px;
  }
  .section__title {
    padding-bottom: 6px;
    width: 50vh;
  }
  .extra-padding-bottom {
    margin-bottom: 14px;
  }
  .footer {
    min-height: 0;
    min-height: 668px;
  }
  .content {
    padding-bottom: 16px;
  }
  .footer__title {
    font-size: 7.2rem;
  }
}

html.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  html.theme-auto .header__rec {
    display: none;
  }
}

@media (min-width: 769px) {
  .gallery__grid {
    grid-template-rows: 260px 320px 430px;
  }
}
