/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/*.page {
   сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. 
}
*/

/* Декоративные уголки */

.decorated-zone {
  position: relative;
}

.decor-corner {
  position: absolute;
  width: 40px;
  height: 40px;
}

.header__corner_top-right::before {
  content: "";
  position: absolute;
  inset: 0;
  border-top: 1px solid var(--shadow-color);
  border-right: 1px solid var(--shadow-color);
}

.header__corner_bottom-left::before {
  content: "";
  position: absolute;
  inset: 0;
  border-bottom: 1px solid var(--shadow-color);
  border-left: 1px solid var(--shadow-color);
}

.header__corner_top-right {
  top: 10px;
  right: 20px;
  height: 25px;
  width: 25px;
}

.header__corner_bottom-left {
  left: 20px;
  bottom: 25px;
  height: 25px;
  width: 25px;
}

.footer__corner_top-right {
  top: 20px;
  right: 20px;
}

.footer__corner_bottom-left {
  left: 20px;
  bottom: 20px;
}

/* Шапка */

.header {
  position: relative;
  min-height: 100vh;
  min-block-size: 768px;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--page-background);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.theme-auto {
  color-scheme: light dark;
}

.page__section {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: var(--page-padding-y) var(--page-padding-x);
  background-color: var(--main-bg);
}

.header__inner {
  display: contents;
}

.header__top-row {
  grid-row: 1;
}

.header__theme-menu-list {
  display: flex;
  gap: 8px;
}

/* меню */

.header__theme-menu {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.header__theme-menu-button {
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 5px;
  text-transform: lowercase;
  border: 1px solid transparent;
  color: var(--nav-color);
  background: transparent;
  transition: border-color 0.2s ease, background-color 0.2s ease,
    color 0.2s ease;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  font-weight: 400;
}

.header__theme-menu-button:hover {
  border-color: rgba(255, 255, 255, 0.4);
}

.header__theme-menu-button_active {
  border-color: var(--nav-color);
}

.header__theme-menu-button_active {
  border-color: var(--nav-color);
}

@media (hover: hover) {
  .header__theme-menu-button:hover:not(:disabled):not(
      .header__theme-menu-button_active
    ) {
    border-color: color-mix(in srgb, var(--nav-color) 40%, transparent);
  }
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-color: var(--nav-color);
  box-shadow: 0 0 0 1px var(--nav-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .header__theme-menu {
    position: absolute;
    top: 120px;
    right: 20px;
    left: auto;
    transform: none;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
  }

  .header__theme-menu-button {
    width: auto;
    padding-left: 13px;
    padding-right: 13px;
  }
}

/* REC */

.header__rec {
  position: absolute;
  top: 12px;
  right: 52px;

  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--shadow-color);
  margin-right: -22px;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: currentColor;

  box-shadow: 0 0 6px currentColor, 0 0 14px currentColor;
}

.theme-light .header__rec {
  display: none;
}

/* Заголовок */

.header__title {
  grid-row: 2;
  align-self: center;
  max-width: 10ch;
  text-transform: lowercase;
  color: var(--accent-color);
  font-weight: 700;
  line-height: 83%;
  letter-spacing: 0;
  text-shadow: 4px 4px 0 var(--shadow-color);

  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  padding-top: 200px;
}

@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* Лид и декор заголовков */

.title-decor {
  display: inline-block;
  background-color: var(--lead-bg-color);
  color: var(--lead-text-color);
  border-radius: var(--border-radius-small);
}

.header__lead {
  grid-row: 3;
  align-self: end;
  justify-self: end;
  max-width: 491px;
  max-height: 71px;

  margin-right: 20px;
  margin-bottom: 140px;

  font-size: 18px;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.content {
  padding-top: 40px;
  padding-bottom: 60px;
}

.layout {
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 1024px) {
  .layout {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    background-color: transparent;
  }
}

/* Основные секции */

.main {
  padding-inline: var(--page-padding-x);
}

.section {
  padding: 26px 18px;
}

.extra-padding-bottom {
  padding-bottom: 6px;
}

.section__layout {
  display: grid;
  gap: 12px;
  margin-bottom: 12px;
}

.section__layout_type_1plus2,
.section__layout_type_3cards {
  grid-template-columns: 1fr;
}

.section__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* карточки */

.section-card {
  padding: 1px -1px;
  margin-bottom: 16px;
}

.section-card__title {
  width: 100%;
  margin-bottom: 12px;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-title-color);
}

.section__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  color: var(--nav-color);
  padding-bottom: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.section-card__text {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--card-text-color);
}

.section__right-column h4 {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.section__link {
  text-shadow: 3px 2px 0 var(--shadow-color);
  text-decoration: none;
}

@media (min-width: 365px) {
  .section__layout_type_1plus2 {
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }

  .section__block_main {
    min-height: 100%;
  }

  .section__layout_type_3cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: start;
  }
}

/* галерея */

.gallery {
  margin-top: 6px;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 338px;
  gap: 20px;
}

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item_sunset {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.gallery__item_ice-cream {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.gallery__item_tape {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.gallery__item_books {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.gallery__item_street {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

@media (max-width: 375px) {
  .gallery__grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .gallery__item {
    width: 100%;
    height: auto;
    grid-column: auto !important;
    grid-row: auto !important;
  }
}

/* подвал */

.footer {
  min-height: 768px;
  display: grid;
  align-items: center;
}

.footer__title {
  text-transform: lowercase;
  color: var(--accent-color);
  text-align: center;
  text-shadow: 4px 4px 0 var(--shadow-color);

  font-weight: 700;
  font-style: Bold;
  font-size: clamp(7rem, 2rem + 8vw, 9rem);
  line-height: 83%;
  letter-spacing: 0%;
}
